@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;400;600&family=Roboto+Mono:wght@200&family=Macondo&display=swap');

body{
    margin:0;
    background-color: rgb(211,213,212);
    display: flex;
    height: 100vh;
}

p{
  font-family: 'Heebo', sans-serif;
  font-size: 1.10rem;
  font-weight: bold;
  margin: 0;
}

a{
  color: rgb(164,92,49);
}


/* Image side */
.mainImage{
  background: url(images/mainimage.jpg);
  width: 35vw;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.credits{
  position:absolute;
  bottom:0;
}

.bar{
  position:absolute;
  top: 17vh;
  background-color: rgba(164,92,49,0.3);
  width: 35vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.8rem;
  font-family: 'Macondo', cursive;
  padding: 16px 0;
  color: rgb(241,242,244);
  letter-spacing: .08em;
  text-shadow: 1px 1px 2px black;
}

img{
  width: 70px;
}


/* Before and After Form Sections */
.beforeForm, .formContent, .afterForm{
  width: 48vw;
  padding-left: 2vw;
  padding-right: 15vw;
}

.beforeForm,.formContent{
 padding-bottom: 3vh;
}

.afterForm{
  padding-top: 5vh;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.beforeForm > p{
  margin-bottom: 3vh;
}

.afterForm > p{
  font-size: 0.8rem;
  font-weight: normal;
}

button{
  padding: 1vh 2vw;
  font-size: 0.8em;
  margin-bottom: 2vh;
  color: white;
  background-color: rgb(164,92,49);
  border-radius: 7px;
  letter-spacing: .1em;
}


/* Form */

.formContent{
  background: rgb(241,242,244);
  box-shadow: 5px 10px 8px #888888ab;
}

.inputContent{
  display:flex;
  flex-direction:column;
}

.rowContainer{
  display: flex;
  justify-content: space-between;
  padding-right: 10vw;
}

.formContent > p{
    margin-bottom: 2vh;
    margin-top: 2vh;
}

.rowContainer{
    margin-top: 2vh;
}

label{
  font-size: 0.8rem;
  font-family: 'Roboto Mono', monospace;
  font-weight: 625;
  letter-spacing: .06rem;
}

input:focus{
   outline: none !important;
   border:2px solid rgb(164,92,49);
   box-shadow: 0 0 10px #888888ab;
}

#user_confirmPassword:focus{
  border:2px solid red;
}

input{
  border-radius: 5px;
  width: 130%;
  box-sizing: border-box;
}

#user_confirmPassword:focus + span::after{
    content:"*Passwords do not match";
}

.error{
  font-size: 0.7rem;
  color: red;
  font-family: 'Roboto Mono', monospace;
  font-weight: 600;
}